<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Server" value="Poczta.o2.pl"/>
    <add key="User" value="monikatestpop3"/>
    <add key="Password" value="pop3pop3pop3"/>
  </appSettings>
</configuration>